useDynLib(rmp)
import(stats)
import(utils)
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "par", "plot", "points")
export(dpmpoiss)
export(npmp)
export(rmg)
export(dpmrg)
export(dp.post.est)
S3method(print, rmpobject)
S3method(summary, rmpobject)
S3method(plot, rmpobject)
